@{
    ViewData["Title"] = "Login";
    Layout = "_LayoutLandingpage";
}

@{
    var mensagem = TempData["ErroLogin"];
    var mensagemRecupera = TempData["RespostaRecupera"];
    var user = TempData["User"];
}

<asp:Content ID="LoginJS" ContentPlaceHolderID="LoginJS" runat="server">
    <script type="module" src="~/js/login.js" asp-append-version="true"></script>
    <link rel="stylesheet" href="~/css/login.css" asp-append-version="true">
</asp:Content>

@model User

<div class="login-layout">
    <div class="login-form">
        <form asp-action="Entrar" method="post">
            <h3>LOGIN</h3>
            <p class="erro-login">@mensagem</p>
            <div class="form-group-login">
                <label for="usuario">Usuário<b>*</b></label>
                <input type="text" name="usuario" pattern="[a-zA-Z]*" autocomplete="username" minlength="5"
                       maxlength="15" required value="@user" asp-for="@Model.Usuario">
                <i class="fa-solid fa-check check"></i>
                <i class="fa-solid fa-xmark check"></i>
            </div>
            <div class="form-group-login">
                <label for="senha">Senha<b>*</b></label>
                <input type="password" name="senha" autocomplete="current-password" minlength="6" maxlength="20"
                       required asp-for="@Model.Senha">
                <i class="fa-regular fa-eye show-password" data-show="false"></i>
                <i class="fa-solid fa-check check"></i>
                <i class="fa-solid fa-xmark check"></i>
            </div>
            <span class="aviso" data-hidden="true">A senha deve ter no mínimo 6 caracteres, incluindo letra minúscula, maiúscula, número e caractere especial.</span>
            <a class="recupera-senha-link" href="#">Esqueci minha senha ou login</a>
            <button type="submit" class="login-submit">Logar</button>
        </form>
    </div>
    <div class="recupera-login">
        <form asp-action="EnviaRecuperaEmail" method="post">
            <h3>Recuperar Login e Senha</h3>
            <p class="mensagem-recupera text-danger">@mensagemRecupera</p>
            <p>Informe o seu e-mail para a recuperação!</p>
            <input name="email" asp-for="@Model.Email">
            <div class="buttons-recupera">
                <button type="button" class="volta-login">Voltar ao login</button>
                <button type="submit" class="envia-recupera">
                    <i class="fa-solid fa-circle-notch spin" data-hidden="true"></i>
                    <span>Enviar</span>
                </button>
            </div>
        </form>
    </div>
</div>

<svg class="waves" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 24 150 28"
     preserveAspectRatio="none" shape-rendering="auto">
    <defs>
        <path id="gentle-wave" d="M-160 44c30 0 58-18 88-18s 58 18 88 18 58-18 88-18 58 18 88 18 v44h-352z" />
    </defs>
    <g class="parallax">
        <use xlink:href="#gentle-wave" x="48" y="0" fill="rgba(255,255,255,0.7" />
        <use xlink:href="#gentle-wave" x="48" y="3" fill="rgba(255,255,255,0.5)" />
        <use xlink:href="#gentle-wave" x="48" y="5" fill="rgba(255,255,255,0.3)" />
        <use xlink:href="#gentle-wave" x="48" y="7" fill="#fff" />
    </g>
</svg>